@import url('https://fonts.googleapis.com/css2?family=Allura&family=Bungee+Spice&family=Cedarville+Cursive&family=Fredericka+the+Great&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lilita+One&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
  font-family: 'Fredericka the Great';
  align-content: center;
}
